

.cardinprofilec {
    padding: 15px;
    width: 350px;
    background: #222;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    user-select: none;
}

.cover-photo-pc {
    position: relative;
    background: url(https://i.imgur.com/jxyuizJ.jpeg);
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.profile-pc {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #222;
    background: #222;
    padding: 5px;
}

.profile-name-pc {
    font-size: 20px;
    margin: 25px 0 0 120px;
    color: #fff;
}

.about-pc {
    margin-top: 30px;
    line-height: 1.6;
    color: white;
    font-size: 13px;
    text-align: left;
}

.chat-icon {
    display: flex !important;
    background-color:#5aad7e !important;
    align-items: center;
}