@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,300;1,300;1,600&display=swap');

.every {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    


}

.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/blog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.test {
    padding: 30px 100px;

}

article h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 100px;

}

article h1:after {
    content: "";
    height: 5px;
    width: 255px;
    background-color: #fff;
    display: block;
    margin: auto;

}

blockquote {
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 80px;

}